/* Grid */
$grid-section-width: 30rem;

/* Colors */
$color-white: #fff;
$color-white-dark: #f0f0f0;
$color-black: #141414;
$color-gray-light: #e2e2e2;
$color-gray-light-2: #ddd;
$color-gray-dark: #404040;

$color-blue: #1919fa;
